@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.about-card {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 450px;
    height: 600px;
    border: #3A923E 4px solid;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    color: #000;
}

.about-card > img {
    margin-top: 40px;
    width: 180px;
}
.about-card > h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.about-card > p {
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    padding-left: 60px;
    padding-right: 60px;
}